/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/



body {
    margin: 0;
    padding: 0;
}

.imagen-central {
    justify-content: center;
    align-content: center;
    background: url('../images/landing.jpg');
    background-size: cover;
    height: 800px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.mainText {
    font-size: 90px;
    color: white;
}

.description {
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-align: center;
}

.header {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    width: 500px;
}

.lista {
    display: flex;
}

.lista ul {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-around;
}

.lista ul li a {
    text-decoration: none;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logoSpotify {
    height: 60px;
}

.landing {
    width: 100vw;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 30%;
    height: 6px;
    background: #20b369;
    text-align: center;
    margin-bottom: 60px;
}

.hr-white {
    margin: 0;
    width: 65%;
    height: 4px;
    background: #fff;
    margin-bottom: 60px;
}

.music-icon,
.high-quality-icon,
.devices-icon {
    height: 120px;

}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.flex-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.logo-blanco {
    position: absolute;
    top: 1900px;
    height: 130px;
}

.green {
    height: 800px;
    width: 94%;
    background-color: #20b369;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    margin-bottom: 90px;
}

.app {
    height: 630px;
}

.box1,
.box2,
.box3 {
    width: 60%;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 500;
    color: white;
}

.box1 p,
.box2 p,
.box3 p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 100;
}

.flex-children h2 {
    color: #20b369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 900;
}

.flex-children p {
    color: silver;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 100;
    text-align: center;
}